#hero {
  background-image: url(../images/muzammil-soorma-R11bppS4q8o-unsplash.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
}

#hero .d-flex {
  height: 70vh;
}